<footer>
	<div class="footer-container">
		<h3>Wanderlust</h3>
		<nav>
			<ul>
			    <li><a href="/">Home</a></li>
				<li><a href="/travel">Travel</a></li>
				<li><a href="/news">News</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
		<div id="connect">
			<a href="http://pinterest.com" target="_blank" class="pinterest">
                <img src="images/pinterest_icon.png" alt="Pinterest Icon" height="28" width="28">
			</a> 
			<a href="http://www.facebook.com/" target="_blank" class="facebook">
				<img src="images/facebook_icon.png" alt="Facebook Icon" height="25" width="25">
			</a> 
			<a href="http://x.com/?mx=2" target="_blank" class="X">
				<img src="images/X_icon.png" alt="X Icon" height="25" width="25">
			</a> 
			<a href="http://www.google.com/" target="_blank" class="googleplus">
				<img src="images/google plus_icon.png" alt="Google Plus Icon" height="28" width="28">
			</a>
		</div>
	</div>
	<p>
		© 2025 by Wanderlust Travel. All Rights Reserved
	</p>
</footer>