<header>
    <div class="container">
        <img src="images/Wanderlust-logo.png" alt="Wanderlust Logo" height="300" width="300">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
				<li><a href="/travel">Travel</a></li>
				<li><a href="/news">News</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
		<div class="button-container">
			<a href="/login"><button class="button-primary">Login</button></a>
			<a href="/signUp"><button class="button-secondary">Sign Up</button></a>
		</div>
	</div>
</header>