<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us - Wanderlust Travel Agency</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <div id="background">
        <div id="page">
            {{> header }}
            <main>
                <section id="rate">
                    <h2>Rate Us</h2>
                    <div class="rate-us-container">
                        <form action="/submit_rating" method="post">
                            <table>
                                <tr>
                                    <td><label for="name">Name:</label></td>
                                    <td><input type="text" id="name" name="name"></td>
                                </tr>
                                <tr>
                                    <td><label for="rating">Rating:</label></td>
                                    <td>
                                        <div class="star-rating">
                                            <input type="radio" id="star5" name="rating" value="5"><label for="star5" title="5 stars">&#9733;</label>
                                            <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="4 stars">&#9733;</label>
                                            <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="3 stars">&#9733;</label>
                                            <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="2 stars">&#9733;</label>
                                            <input type="radio" id="star1" name="rating" value="1"><label for="star1" title="1 star">&#9733;</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="comments">Comments:</label></td>
                                    <td><textarea id="comments" name="comments"></textarea></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><input type="submit" value="Submit"></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </section>
            </main>
            {{> footer }}
        </div>
    </div>
</body>
</html>